/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
/* general */
:root {
        --color-scondary: #ffffff;
        --color-primary: #23272a;
        --color-header-bg: #255ee9;
        --color-section-bg: #f6f6f6;
        --color-contrast: #aebbe7;
    }

body{
    /* background-image: url("../img/wave.svg"); */
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}


header{
    background-color: var(--color-header-bg);
    color: var(--color-scondary);

}
#hero{
    background-image: url("../img/jumbo.png");
    min-height: 500px;
    background-size: cover;
}
.left{
    width: 60%;
}
.right{
    width: 40%;
    padding-top: 3%;
}
.bodyimg{
    width: 100%;
}
h2{
    padding-bottom: 4%;
    font-weight: 600;
    font-size: 40px;
}

#technology h2, p{
    text-align: center;
}

footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
/* utility */
.container{
    max-width: 1200px;
    margin: 25px auto;
    padding: 10px;
    
}
.small-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
/* flex utilities */
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.row-reverse{
    flex-direction: row-reverse;
}