/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
/* general */
:root {
        --color-scondary: #ffffff;
        --color-primary: #23272a;
        --color-header-bg: #255ee9;
        --color-section-bg: #f6f6f6;
        --color-contrast: #aebbe7;
        --color-purple: #7289DA;
    }

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* buttons */
.button{    
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 0.87em;
        margin: 3px;
        font-weight: 600;
        max-width: 100%;
}
.bwhite{/* various colors */
    background-color: var(--color-scondary);
    color: var(--color-primary);
}
.bblue{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
.bpurple{
    background-color: var(--color-purple);
    color: var(--color-scondary);
}
.button:hover{
    box-shadow: 3px 5px 8px var(--color-primary);
    transition: all 1s;
    text-decoration: none;
}
/* end of buttons */

/* header properties */
header{
    background-color: var(--color-header-bg);
    color: var(--color-scondary);

}
header a{
    color: var(--color-scondary);
    padding: 20px;
}
#hero{
    background-image: url("../img/jumbo.png");
    min-height: 500px;
    background-size: cover;
}
#hero p{
    padding-bottom: 20px;
}
/* background rules */
.backgroundwave{
    background-image: url("../img/wave.svg");
    height: 100px;
    filter: opacity(0.04);
}
.backgroundwave-down{
    transform: rotatex(0.5turn);
}
#channel{
    background-color: #F5F5F5;
}
/* end of background rules */
.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #255ee9;
}

/* body items */
.left{
    width: 60%;
}
.right{
    width: 40%;
    padding-top: 3%;
}
.bodyimg{
    width: 100%;
}
h1{
    padding-bottom: 4%;
    font-weight: 600;
    font-size: 40px;
}
h2{
    font-weight: 600;
    font-size: 40px;
}

#technology h2, p{
    text-align: center;
}
.stars{
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 50px;
    
}
/* end of body items */

/* footer */
footer{
    background-color: var(--color-primary);
    color: var(--color-scondary);
}
footer ul{
    line-height: 50px
}
footer a{
    color: var(--color-scondary);
}
footer h4{
    color: var(--color-purple);
    font-size: 15px;
    font-weight: 600;
}
footer h2{
    color: var(--color-purple);
}
#flag{
    width: 30px;
}
.top{
    border-bottom: 1px solid var(--color-purple);
}
.socials{
    padding-top: 20px;
    padding-right: 30px;
}
/* end of footer */

/* utility */
.container{
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 10px;    
}
main .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px 130px 10px;
}
.small-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;        
}
/* end of utilities */

/* flex utilities */
.d-flex{
    display: flex;
}
.no-flex{
    display: block;
}
.space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
    align-content: center;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.align-center{
    align-items: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.baseline{
    align-items: baseline;
}
/* end flex utilities */